:root {
  --bg: #F0F0F0;
  --text: #000;
  --hover: #A9A9A9;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg);
}

header {
  text-align: center;
  padding: 30px;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 30px;
  padding: 20px;
}

.left-column {
  flex: 2;
}

.right-column {
  flex: 1;
  position: sticky;
  top: 20px;
}

/* SEARCH */
.search-section {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#searchInput {
  padding: 10px;
  width: 300px;
}

#searchBtn {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 15px 0;
}

.genre-btn {
  padding: 8px 12px;
  cursor: pointer;
}

/* GRIDS */
#resultsGrid,
.category-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.movie-card {
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.movie-card:hover {
  background: var(--hover);
}

/* DETAILS */
.movie-details {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
}

/* PAGINATION */
#pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.page-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page-btn.active {
  background: black;
  color: white;
}

/* LOADER */
#loader {
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}
